
#product-detail-wrapper {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 12%;
    left: 20%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFF;
    z-index: 10000;
    padding: 25px;
    box-shadow: inset 0 0 5px;
    border-radius: 5px;
}

#product-detail-wrapper h1  {
    color: #45B649;
    font-weight: bold;
}