header {
    width: 99.5%;
}
#headerBackground {
    width: inherit;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-top: 1px solid #7aab97;
}
#headerWrapper {
    width: 75%;
    margin: 0 auto;
    z-index: 1000;
}
#headerComponent {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -37.5%;
    width: inherit;
    height: 70px;
    border-top: 1px solid #7aab97;
}
#consensBrand {
    max-height: 50px;
    margin-top: 10px;
}
#consensBrand:hover {
    cursor: pointer;
}
#headerDesktopMenu {
    display: inline-block;
    float: right;
    margin-top: 10px;
}
#headerDesktopMenu li {
    display: inline-block;
    float: right;
    color: #3e6957;
    text-align: center;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-right: 5px;
    text-transform: uppercase;
}
#headerDesktopMenu li:hover {
    cursor: pointer;
    background: #5a967d;
    color: #FFF;
}
