header {
    width: 99.5%;
}
#headerBackground {
    width: inherit;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}
#headerWrapper {
    width: 95%;
    margin: 0 auto;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}
#headerComponent {
    position: fixed;
    top: 0;
    width: inherit;
    height: 70px;
}
#consensBrand {
    max-height: 50px;
    margin-top: 10px;
}
#consensBrand:hover {
    cursor: pointer;
}
#headerDesktopMenu {
    display: inline-block;
    float: right;
    margin-top: 10px;
}
#headerDesktopMenu li {
    display: inline-block;
    float: right;
    color: #FFF;
    text-align: center;
    padding: 15px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500;
    margin-right: 5px;
    text-transform: uppercase;
}
#headerDesktopMenu li:hover {
    cursor: pointer;
    background: #5a967d;
    color: #FFF;
}
.active {
    background: #fff !important;
    color: #5a967d !important;
    width: 100px;
    height: 90px;
}
