body, html, #root {
  font-family: 'Maven Pro', sans-serif !important;
  height: 100%;
  overflow-x: hidden !important;
}

.App {
  height: 100% !important;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
    z-index: 2000;
}
::-webkit-scrollbar {
    width: 7px;
    background-color: #FFF;
    z-index: 2000;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
    z-index: 2000;
}
::-moz-selection {
    background:#333;
    color: whitesmoke;
    z-index: 2000;
}
::selection {
    background:#333;
    color: whitesmoke;
    z-index: 2000;
}


p {
    line-height: 2em;
    padding-right: 25px;
    padding-left: 25px;
}

.padding-top {
    margin-top: 90px;
}
